.footer-wrapper {
    width: 100%;
    height: 84px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.65);
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e8e8e8;
}
.footer-wrapper .count {
    margin: 0 20px;
}